<footer>
  <div class="footer-main">
    <div class="footer-item">
      <h5><a href="#">Terms & Conditions</a></h5>
      <h5><a href="#">FAQ</a></h5>
      <h5><a href="#">Privacy</a></h5>
    </div>
    <div class="footer-item">
      <h5><a href="#">News</a></h5>
      <h5><a href="#">Sitemap</a></h5>
    </div>
    <div class="footer-item">
      <h5><a href="#">Workin With Us</a></h5>
      <h5><a href="#">Careers</a></h5>
      <h5><a href="#">Login</a></h5>
    </div>
    <div class="footer-social-item">
      <h5 class="footer-social-item-title"><a href="#">FOLLOW US</a></h5>
      <div class="social-icons">
        {{>icon-svg icon_id="icon-facebook" width="50" height="50" fill="#FFF"}}
        {{>icon-svg icon_id="icon-twitter" width="50" height="50" fill="#FFF"}}
        {{>icon-svg icon_id="icon-instagram" width="50" height="50" fill="#FFF"}}
        {{>icon-svg icon_id="icon-google-plus" width="50" height="50" fill="#FFF"}}
        {{>icon-svg icon_id="icon-linkedin" width="50" height="50" fill="#FF0"}}
      </div>
    </div>
  </div>
  <div class="footer-credit">
    <p>&copy; 2018 All Rights Reserved, Prototype Interactive, LLC</p>
  </div>
</footer>
