.filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  .buttons{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    transition: 3s;
    .filters-btn{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #0000;
      &:hover {
        border-bottom: 1px solid #000;
        cursor: pointer;
      }
    }
  }

  .selectors {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #555;
    margin: 100px 100px 25px 100px;
    .selector{
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        margin: 0
      }
      svg{
        margin: 0 10px;
      }
    }
  }
  .mail-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    a {
      color: #555;
    }
  }

  @media(max-width: 768px) {
    .filters-btn {
      width: 90%;
      margin-bottom: 30px;
    }
    .selector {
      width: 90%;
      margin-bottom: 30px;
    }

  }

}
