.job-card {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border:1px solid #EEE;
  border-radius: 3px;
  margin: 20px;
  padding:15px 25px;
  width: 555px;
  height: 420px;
  background-color: #FFF;
  box-shadow: 15px 15px 25px #EEE;
  transition:0.3s;
  .job-card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .job-head {
    .job-title-box{
      display: flex;
      svg {
        margin-right: 15px;
      }
      h6 {
        margin: 0;
        width: 100%;
        height: 25px;
      }
      small {
        color: #AAA;
        font-weight: 100
      }
    }

    .job-category {
      p {
        border: 1px solid #000;
        border-radius: 50px;
        padding: 15px 30px;
        font-size:0.8em;
      }
    }
  }

  .job-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size:0.8em;
  }

  .job-detail {
    width: 90%;
    margin: 0 auto;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .job-apply{
    a{
      width: 50%;
      margin: 0 auto;
    button{
      width: 100%;
      padding: 20px;
      color: #4DAF7C;
      background-color: #FFF;
      outline:none;
      border: none;
      border-radius: 10px;
      font-weight: 200;
      transition: 0.3s;
      &:hover{
        cursor: pointer;
      }
    }
  }
  }
  @media(max-width: 450px) {
    .job-head{
      flex-wrap: wrap;
      .job-category{
        margin: 10px auto;
      }
    }
  }

  &:hover{
    margin-bottom: 30px;
    margin-top: 10px;
    // box-shadow: 25px 25px 15px #EEE, 25px 25px 15px #EEE;
    .job-apply{
      button{
        color: #FFF;
        background-color: #4DAF7C;
        box-shadow: 1px 1px 15px #CCC,
      };
    }
  }

}
