.job-card {
  display:flex;
  flex-direction: column;
  border:1px solid #EEE;
  border-radius: 3px;
  margin: 20px;
  padding:15px 25px;
  width: 45%;
  background-color: #FFF;
  box-shadow: 5px 5px 15px #EEE, 5px 5px 15px #EEE;

  .job-card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .job-head {
    .job-title-box{
      display: flex;
      flex-wrap: wrap;
      h6 {
        margin: 0;
        width: 75%;
        height: 25px;
        small {
          color: #AAA;
          font-weight: 100
        }
      }
      svg {
        width: 25%;
      }

    }

    .job-category {
      p {
        border: 1px solid #000;
        border-radius: 25px;
        padding: 10px;
        font-size:0.8em;
      }
    }
  }

  .job-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size:0.8em;
  }

  .job-detail {
    width: 100%;
    margin: 0 auto;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .job-apply{
    button{
      width: 70%;
      margin: 0 auto;
      padding: 20px;
      color: #4DAF7C;
      background-color: #FFF;
      border: 1px solid #4DAF7C;
      outline:none;
      border-radius: 10px;
      font-weight: 200;
      &:hover{
        cursor: pointer;
      }
    }
  }
  @media(max-width: 768px) {
    width: 80%;
  }
  @media(min-width: 1200px) {
    width: 30%;
  }

  &:hover{
    margin-bottom: 35px;
    margin-top: 5px;
    box-shadow: 25px 25px 15px #EEE, 25px 25px 15px #EEE;
    .job-apply{
      button{
        color: #FFF;
        background-color: #4DAF7C;
      };
    }
  }

}
