<div class="col-md-10 details-data">
    <h4>DESCRIPTION TASKS</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nisi. Nemo, corporis minus dolore voluptas exercitationem sint beatae? Eligendi modi aliquid sint doloribus earum consequatur aperiam cupiditate id, corporis sunt.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, harum. Saepe sed adipisci, dicta labore autem, perspiciatis consequuntur facilis debitis consectetur dolorum corporis eveniet accusamus? Nulla deleniti soluta provident omnis?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores sit rem rerum voluptatum incidunt veniam commodi animi, saepe sunt. Dicta officiis aliquid facilis nihil accusamus quam possimus, delectus adipisci quaerat!
    </p>
</div>
