<div class="details-header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            {{>icon-svg icon_id="icon-prototype" width="120" height="120" class_name="svg-prototype" fill="#FFF"}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Working With Us</a>
            <a class="nav-item nav-link" href="#">How We Hire</a>
            </div>
        </div>

            <h6 class="lang d-none d-lg-inline">
                En
            </h6>
            <span class="d-none d-lg-inline">
                {{>icon-svg icon_id="icon-arrow-head-down" width="15" height="15" class_name="svg-arrow" stroke="#FFF"}}
            </span>
    </nav>

    <div class="details-header-title">
        <div class="job-type text-center">
            Management
        </div>
        <h2>ACCOUNT MANAGER</h2>
        <small>Posted date: 25/8/2017</small>
    </div>
</div>
