<div class="sidebar col-md-3">
    <a class="social-btn social-btn-facebook">
        SHARE ON FACEBOOK
        <!-- {{>icon-svg icon_id="icon-facebook" width="25" height="30" class_name="svg-facebook" fill="#0A4168" stroke="#0A4168"}} -->
        <i class="fab fa-facebook-f"></i>
    </a>
    <a class="social-btn social-btn-twitter">
        SHARE ON TWITTER
        <!-- {{>icon-svg icon_id="icon-twitter" width="25" height="30" class_name="svg-facebook" fill="#2aa3ef" stroke="#2aa3ef"}} -->
        <i class="fab fa-twitter"></i>

    </a>
    <a class="social-btn social-btn-linkedin">
        SHARE ON LINKEDIN
        <!-- {{>icon-svg icon_id="icon-linkedin" width="25" height="30" class_name="svg-facebook" fill="#1178b3" stroke="#1178b3"}} -->
        <i class="fab fa-linkedin-in"></i>
    </a>
    <div class="job-url">
        <h5>Job URL</h5>
        <div class="input-group job-url-group">
            <input type="text" class="form-control" value="https://prototype.net/kaw221sa">
            <div class="input-group-append">
                <span class="input-group-text job-url-copy">COPY</span>
            </div>
        </div>
    </div>
</div>
