<div class="filters">
  <div class="buttons">
    <a class="filters-btn" id="mngJobs">
      <small>I'M LOOKING FOR</small>
      <h4>MANEGERIAL JOBS</h4>
    </a>
    <a class="filters-btn" id="devJobs">
      <small>I'M LOOKING FOR</small>
      <h4>DEVELOPMENT JOBS</h4>
    </a>
    <a class="filters-btn" id="allJobs">
      <small>SHOW ME</small>
      <h4>ALL JOBS</h4>
    </a>
  </div>

  <div class="container selectors">
    <div class="selector">
      {{>icon-svg icon_id="icon-filter" width="30" height="30" fill="#555"}}
      <p>
        FILTER BY
      </p>
    </div>
    <div class="selector">
      <p>POSTING DATE</p>
      {{>icon-svg icon_id="icon-arrow-head-down" width="12" height="12"}}
    </div>
    <div class="selector">
      <p>NATIONALITY</p>
      {{>icon-svg icon_id="icon-arrow-head-down" width="12" height="12"}}

    </div>
    <div class="selector">
      <p>GENDER</p>
      {{>icon-svg icon_id="icon-arrow-head-down" width="12" height="12"}}
    </div>
  </div>

  <div class="mail-notification">
    {{>icon-svg icon_id="icon-bell" width="30" height="30" fill="#555"}}
    <a>
      CREATE EMAIL NOTIFICATION
    </a>
  </div>

</div>
