<div class="filters">
  <div class="buttons">
    <a class="filters-btn" id="mngJobs">
      <small>I'M LOOKING FOR</small>
      <h4>MANEGERIAL JOBS</h4>
    </a>
    <a class="filters-btn" id="devJobs">
      <small>I'M LOOKING FOR</small>
      <h4>DEVELOPMENT JOBS</h4>
    </a>
    <a class="filters-btn" id="allJobs">
      <small>SHOW ME</small>
      <h4>ALL JOBS</h4>
    </a>
  </div>

  <div class="selectors">
    <h4>FILTER BY</h4>
    <h4>POSTING DATE</h4>
    <h4>NATIONALITY</h4>
    <h4>GENDER</h4>
  </div>

  <button type="button" name="button">
    CREATE EMAIL NOTIFICATION
  </button>
</div>
