<div class="job-card">
  <div class="job-card-row job-head">
    <div class="job-title-box">
      {{>icon-svg icon_id="icon-wreath" width="50" height="50"}}
      <div>
        <h6>Project Manager </h6>
        <small>21/03/2018</small>
      </div>
    </div>
    <div class="job-category">
      <p>Management</p>
    </div>
  </div>
  <div class="job-card-row job-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="job-card-row job-detail">
    <div class="job-detail-nat">
      <p>NATIONALITY</p>
      <p>UAE</p>
    </div>
    <div class="job-detail-salary">
      <p>SALARY</p>
      <small>7000</small>
    </div>
    <div class="job-detail-date">
      <p>LAST DATE</p>
      <small><AED>7000</AED></small>
    </div>
  </div>
  <div class="job-card-row job-apply">
    <button type="button" name="button">
      APPLY AND OFFER
    </button>
  </div>
</div>
